<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MechX</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <a href="/index">
            <img src="/image/logonavbar.png" alt="Logo Navbar" style="cursor: pointer;">
        </a>        
        <div class="nav">
            <a href="/fixtol">Fix Tool</a>
            <a href="/comunity">Community</a>
            <a href="/store">Store</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Find what you want..."/>
            <i class="fas fa-search"></i>
        </div>
        <div class="icons">
            <a href="/keranjang"><i class="fas fa-shopping-cart"></i></a>
            <a href="/register">Log-out  |</a>
            <a href="/login">Log-In</a>
        </div>
    </div>
    <section class="community-menu">
        <a>Community</a>
        <a href="/participate">Participate</a> 
        <a href="/contribute">Contribute</a>
        <a href="/leaderboard">LeaderBoard</a>
    </section>

    <hr class="garis-pembatas">

    <div class="content">
        <h1>Community</h1>
        <div class="cards">
            <div class="card">
                <img src="https://storage.googleapis.com/a1aa/image/wF9D5LpaPfy0Rque9qwe81MNIpwOM9fOrhzeJy5efoZQCzerTA.jpg" alt="Orang berdiskusi memperbaiki" width="200" height="200"/>
                <h3>Perbaiki Masalah</h3>
                <p>Dapatkan dukungan dari para ahli perbaikan dan saling membantu satu sama lain</p>
            </div>
            <div class="card">
                <img src="https://storage.googleapis.com/a1aa/image/Z15WiHDOsbo9Et2DK0eWQw67rf1AIufDlc5hmKUXMfj7X2vOB.jpg" alt="Orang berbagi pengalaman" width="200" height="200"/>
                <h3>Bagikan Pengalaman Anda</h3>
                <p>Ceritakan perjalanan perbaikan Anda untuk membimbing orang lain dalam bertindak</p>
            </div>
            <div class="card">
                <img src="https://storage.googleapis.com/a1aa/image/p4FffIERflUlfQxc7ydBG4tgvT6n2Rf8A7SknajJU3eMgZf1JA.jpg" alt="Orang menginstruksikan perbaikan" width="200" height="200"/>
                <h3>Instruksikan Perbaikan</h3>
                <p>Tidak semua orang bisa memperbaiki segalanya, tapi semua orang bisa mengajarkan cara memperbaiki sesuatu</p>
            </div>
            <div class="card">
                <img src="https://storage.googleapis.com/a1aa/image/neTZeA2kiGlzDEIWAwsyVIePDkL6rsQIXOAO4AT5Mm3CM7XnA.jpg" alt="Orang dalam kompetisi" width="200" height="200"/>
                <h3>Kompetisi</h3>
                <p>Ceritakan perjalanan perbaikan Anda untuk membimbing orang lain dalam bertindak</p>
            </div>
        </div>
        <div class="card-container">
            <div class="card col" style="width: 48%;">
                <h3>Kolaborasi Dengan EB</h3>
                <p>Tidak ada yang bisa memperbaiki segalanya, tetapi setiap orang tahu cara memperbaiki sesuatu. Bagikan pengetahuan Anda dengan kami dan pastikan barang-barang tetap tahan lama! Semakin mudah memperbaiki sesuatu, semakin banyak orang yang ingin melakukannya</p>
            </div>
            <div class="card col" style="width: 48%;">
                <img src="https://storage.googleapis.com/a1aa/image/axAR1yhsZvbLEZnuk34rQ1lEQDeDPIltUCmIxgktWugCzerTA.jpg" alt="Mobil di bengkel" width="400" height="200"/>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <div class="column">
            <h3>MechX</h3>
            <ul>
                <li><a href="#">Tentang Kami</a></li>
                <li><a href="#">Dukungan Pelanggan</a></li>
                <li><a href="#">Diskusi EB</a></li>
                <li><a href="#">Karier</a></li>
                <li><a href="#">Buletin</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Sumber Daya</h3>
            <ul>
                <li><a href="#">Press</a></li>
                <li><a href="#">Berita</a></li>
                <li><a href="#">Berpartisipasi</a></li>
                <li><a href="#">Pro Grosir</a></li>
                <li><a href="#">Lokasi Retail</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Legal</h3>
            <ul>
                <li><a href="#">Aksesibilitas</a></li>
                <li><a href="#">Privasi</a></li>
                <li><a href="#">Syarat & Ketentuan</a></li>
            </ul>
        </div>
        <div class="social-icons">
            <span>Hubungi Kami:</span>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/jyn.amr" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@patricia_gurll" target="_blank"><i class="fab fa-tiktok"></i></a>
            <a href="https://www.x.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/@GadgetIn" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>      
    </div>
</body>
<head>