<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MechX</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <a href="/index">
            <img src="/image/logonavbar.png" alt="Logo Navbar" style="cursor: pointer;">
        </a>        
        <div class="nav">
            <a href="fixtol">Fix Tool</a>
            <a href="/comunity">Community</a>
            <a href="/store">Store</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Find what you want..."/>
            <i class="fas fa-search"></i>
        </div>
        <div class="icons">
            <a href="/keranjang"><i class="fas fa-shopping-cart"></i></a>
            <a href="/register">Log-out  |</a>
            <a href="/login">Log-In</a>
        </div>
    </div>
    <section class="community-menu">
        <a href="/comunity">Community</a>
        <a href="/participate">Participate</a> 
        <a href="">Contribute</a>

    </section>

    <hr class="garis-pembatas">

    <div class="main-contentcon">
        <h1>
            Contribute
        </h1>
        <div class="bannercon">
            <img alt="Orang-orang berkolaborasi dan berbagi pengetahuan" height="200" src="https://storage.googleapis.com/a1aa/image/96CTkAcWsFpgNlFgdQb0L2EeBt6wsDNxDUYzYKfrpspJ6dsTA.jpg" width="800"/>
            <div class="bannercon-textcon">
                Bagikan Pengetahuan Anda
            </div>
        </div>
        <div class="diagramcon">
            <div class="circlecon">
            </div>
            <div class="linecon">
            </div>
            <div class="circlecon">
            </div>
            <div class="linecon">
            </div>
            <div class="circlecon">
            </div>
        </div>
        <div class="textcon-contentcon">
            <h2>
                Tingkatkan Panduan Pemeliharaan yang Dikontribusikan Pengguna
            </h2>
            <p>
                Untuk mencapai misi kami membantu semua orang dalam pemeliharaan dan perbaikan sepeda motor, kami bergantung pada keahlian kolektif dari komunitas. Penanda menunjukkan area di mana panduan yang ada bisa mendapatkan detail atau perbaikan tambahan. Dengan mengatasi penanda ini, Anda dapat membantu membuat pemeliharaan menjadi lebih mudah bagi pengendara di seluruh dunia.
            </p>
            <p>
                Penanda menunjukkan bahwa ada peluang untuk meningkatkan panduan agar lebih jelas atau lengkap. Pilih area di bawah yang menarik bagi Anda, dan perbarui panduan untuk menyelesaikan masalah pada penanda tersebut. Pastikan untuk menghapus penanda setelah panduan ditingkatkan. Berikut ini diatur berdasarkan popularitas—panduan yang paling sering digunakan tercantum terlebih dahulu.
            </p>
        </div>
    </div>
    
    <div class="footer">
        <div class="column">
            <h3>MechX</h3>
            <ul>
                <li><a href="#">Tentang Kami</a></li>
                <li><a href="#">Dukungan Pelanggan</a></li>
                <li><a href="#">Diskusi EB</a></li>
                <li><a href="#">Karier</a></li>
                <li><a href="#">Buletin</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Sumber Daya</h3>
            <ul>
                <li><a href="#">Pers</a></li>
                <li><a href="#">Berita</a></li>
                <li><a href="#">Berpartisipasi</a></li>
                <li><a href="#">Grosir Pro</a></li>
                <li><a href="#">Lokasi Ritel</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Legal</h3>
            <ul>
                <li><a href="#">Aksesibilitas</a></li>
                <li><a href="#">Privasi</a></li>
                <li><a href="#">Syarat & Ketentuan</a></li>
            </ul>
        </div>
        <div class="social-icons">
            <span>Hubungi Kami:</span>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/jyn.amr" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@patricia_gurll" target="_blank"><i class="fab fa-tiktok"></i></a>
            <a href="https://www.x.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/@GadgetIn" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>      
    </div>
    