<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MechX</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <a href="/index">
            <img src="/image/logonavbar.png" alt="Logo Navbar" style="cursor: pointer;">
        </a>        
        <div class="nav">
            <a href="/fixtol">Fix Tool</a>
            <a href="/comunity">Community</a>
            <a href="/store">Store</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Find what you want..."/>
            <i class="fas fa-search"></i>
        </div>
        <div class="icons">
            <a href="/keranjang"><i class="fas fa-shopping-cart"></i></a>
            <a href="/register">Log-out  |</a>
            <a href="/login">Log-In</a>
        </div>
    </div>
    </div>
    <div class="sidebarmotor">
        <a href="#">
            Perawatan Motor
        </a>
        <a href="#">
            Kategori
        </a>
        <a href="#">
            Panduan
        </a>
    </div>
    <div class="contentmotor">
        <div class="section">
            <h2>
                Mesin Elektronik
            </h2>
            <p>
                Panduan pemeliharaan dan pemecahan masalah langkah demi langkah untuk Mesin Elektronik semua merek dan model. 
                Penulis: Zaki Maulana (dan tim kontributor ahli).            
            </p>
        </div>
        <div class="section">
            <h2>
                Kategori
            </h2>
            <div class="category">
                <div class="item">
                    <img alt="Logo Yamaha" height="100" src="https://storage.googleapis.com/a1aa/image/V7sx5UYfwpQROq05txdWgwJSZgXHo8qIze4e2eOPzL3FxQ3OB.jpg" width="100"/>
                </div>
                <div class="item">
                    <img alt="Logo Honda" height="100" src="https://storage.googleapis.com/a1aa/image/fxWdfBoluRgEk0fAp4lpthfqxuAqFBeeuyCwD6veL4S1CG62JA.jpg" width="100"/>
                </div>
                <div class="item">
                    <img alt="Logo BMW" height="100" src="https://storage.googleapis.com/a1aa/image/2VhVWkNhXTa6JxUkJVSRVmdp6oIT9aY4vOu6TBtQRr1eF62JA.jpg" width="100"/>
                </div>
                <div class="item">
                    <img alt="Logo Suzuki" height="100" src="https://storage.googleapis.com/a1aa/image/PhnG8ZnMV6KvHVzYUVQaettotBuSWgAyTfMocufmVJoFYobnA.jpg" width="100"/>
                </div>
                <div class="item">
                    <img alt="Logo Kawasaki" height="100" src="https://storage.googleapis.com/a1aa/image/eJPhspebD7hCfolZe8BKdiuhnU1beeiW9m5CZ1VoEUSrFDd7E.jpg" width="100"/>
                </div>
                <div class="item">
                    <img alt="Logo Aprilia" height="100" src="https://storage.googleapis.com/a1aa/image/47vg9BRQNjIROpPskZ9NgtfBMsuBhaMcObuXx1jJL868F62JA.jpg" width="100"/>
                </div>
                <div class="item">
                    <img alt="Logo Derbi" height="100" src="https://storage.googleapis.com/a1aa/image/vo1XjxRX0k6fMy5lIfUllZPhDAuiehvh1Wb2GwV27OPgYobnA.jpg" width="100"/>
                </div>
                <div class="item">
                    <img alt="Logo Triumph" height="100" src="https://storage.googleapis.com/a1aa/image/JAQ9eYPnVrXBUaefRyTPMWbbjDT1YEQKpTHLFR1HMxFWYobnA.jpg" width="100"/>
                </div>
                <div class="item">
                    <img alt="Logo KTM" height="100" src="https://storage.googleapis.com/a1aa/image/cxkNWhVp5bIaNdfDvS6SDhZeaH7KYfM8JRFaOgXXvbboYobnA.jpg" width="100"/>
                </div>
                <div class="item">
                    <img alt="Logo Harley Davidson" height="100" src="https://storage.googleapis.com/a1aa/image/RbkTAN8KH9aULBXOZG2UvLf0AORyybMgc3rJIKTUIWKeL0tTA.jpg" width="100"/>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>
                Panduan
            </h2>
            <h3>
                Teknik
            </h3>
            <div class="guides">
                <div class="item">
                    <img alt="Mengganti baterai motor" height="100" src="https://storage.googleapis.com/a1aa/image/QCTpV1Nr3cbMJlx6lh8Nrejnpr0eflU7EzBvjASJ1f93wQ3OB.jpg" width="100"/>
                    <p>
                        Bagaimana cara mengganti aki sepeda motor tanpa merusak komponen kelistrikan?                    </p>
                </div>
                <div class="item">
                    <img alt="Mengatur ketegangan rantai motor" height="100" src="https://storage.googleapis.com/a1aa/image/NSk872dvydqjChyuVeNSAaiUTDCgTTVz5ajQLX6F7ALCG62JA.jpg" width="100"/>
                    <p>
                        Bagaimana cara mengatasi masalah start pada sepeda motor?
                    </p>
                </div>
                <div class="item">
                    <img alt="Mengganti oli dan filter motor" height="100" src="https://storage.googleapis.com/a1aa/image/8AXrPPjlLIb8NlfHxoGGe2dHOAfOFAcFNbyCiw9gaQqDYobnA.jpg" width="100"/>
                    <p>
                        Bagaimana cara memperbaiki sepeda motor yang mogok saat berakselerasi?
                    </p>
                </div>
                <div class="item">
                    <img alt="Mengatasi masalah motor yang tidak bisa hidup" height="100" src="https://storage.googleapis.com/a1aa/image/E2HFa7iUgOKmGRESPcUncaTivY45TRI6XOnmj8dUzT4fF62JA.jpg" width="100"/>
                    <p>
                        Bagaimana cara mengatur ketegangan rantai sepeda motor agar performanya optimal?
                    </p>
                </div>
                <div class="item">
                    <img alt="Mengganti ban motor" height="100" src="https://storage.googleapis.com/a1aa/image/IqFBpVFQJH4AIVUhd8qKJzhTu3sXZ9KeONiYJrKYHxXEG62JA.jpg" width="100"/>
                    <p>
                        Bagaimana cara mengganti ban sepeda motor dan memastikan keselarasan yang benar?
                    </p>
                </div>
                <div class="item">
                    <img alt="Mengganti oli dan filter motor" height="100" src="https://storage.googleapis.com/a1aa/image/8AXrPPjlLIb8NlfHxoGGe2dHOAfOFAcFNbyCiw9gaQqDYobnA.jpg" width="100"/>
                    <p>
                        Bagaimana cara mereset lampu mesin pada sepeda motor?
                    </p>
                </div>
                <div class="item">
                    <img alt="Mengatasi motor yang mati saat berakselerasi" height="100" src="https://storage.googleapis.com/a1aa/image/sdhxfG8LLO2rVSLx8XbUhNZCmcKXWUbnnbEPaKvgRffdYobnA.jpg" width="100"/>
                    <p>
                        Bagaimana cara mengganti oli dan filter sepeda motor di rumah?                    </p>
                </div>
                <div class="item">
                    <img alt="Mereset lampu mesin motor" height="100" src="https://storage.googleapis.com/a1aa/image/ehaFfLZx8qmROEBcLkEgY1b4oowZOPUZWql6pgAy3e7UYobnA.jpg" width="100"/>
                    <p>
                        Cara mereset lampu mesin pada motor?
                    </p>
                </div>
                <div class="item">
                    <img alt="Membuang angin pada rem motor" height="100" src="https://storage.googleapis.com/a1aa/image/zfvohkkX9IwIY61034aegH1lsW2XN6TNe6jZk9mssSRmYobnA.jpg" width="100"/>
                    <p>
                        Bagaimana cara mengganti sepeda motor oBagaimana cara mengosongkan rem sepeda motor untuk performa pengereman yang lebih baik?il dan memfilter di rumah?                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <div class="column">
            <h3>MechX</h3>
            <ul>
                <li><a href="#">Tentang Kami</a></li>
                <li><a href="#">Layanan Pelanggan</a></li>
                <li><a href="#">Diskusi EB</a></li>
                <li><a href="#">Karir</a></li>
                <li><a href="#">Buletin</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Sumber Daya</h3>
            <ul>
                <li><a href="#">Pers</a></li>
                <li><a href="#">Berita</a></li>
                <li><a href="#">Partisipasi</a></li>
                <li><a href="#">Pro Grosir</a></li>
                <li><a href="#">Pencari Toko</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Legal</h3>
            <ul>
                <li><a href="#">Aksesibilitas</a></li>
                <li><a href="#">Privasi</a></li>
                <li><a href="#">Ketentuan</a></li>
            </ul>
        </div>
        <div class="social-icons">
            <span>Hubungi Kami:</span>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/jyn.amr" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@patricia_gurll" target="_blank"><i class="fab fa-tiktok"></i></a>
            <a href="https://www.x.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/@GadgetIn" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>      
    </div>
    
<head>
