<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MechX</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <a href="/index">
            <img src="/image/logonavbar.png" alt="Logo Navbar" style="cursor: pointer;">
        </a>        
        <div class="nav">
            <a href="#">Fix Tool</a>
            <a href="/comunity">Community</a>
            <a href="/store">Store</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Find what you want..."/>
            <i class="fas fa-search"></i>
        </div>
        <div class="icons">
            <a href="/keranjang"><i class="fas fa-shopping-cart"></i></a>
            <a href="/register">Log-out  |</a>
            <a href="/login">Log-In</a>
        </div>
    </div>
    <main class="fixtool-main">
        <h1>Panduan Perbaikan Teknologi</h1>
        <div class="fixtool-banner">
            <div class="fixtool-text">
                <h2>Baru pertama kali memperbaiki?</h2>
                <p>Pelajari cara memperbaiki apa saja<br/>Kamu pasti bisa</p>
            </div>
        </div>
        <div class="fixtool-selection">Pilih yang kamu butuhkan</div>
        <div class="fixtool-options">
            <div class="fixtool-item">
                <img alt="Ikon Motor" src="https://storage.googleapis.com/a1aa/image/C9UIGLwJX2qNJJyGOhGVh9hc14Xvuyfu6Lk1F7QbGbZM0I2JA.jpg" />
                <a href="/fixtolmotor">Motor</a>
            </div>
            <div class="fixtool-item">
                <img alt="Ikon Mobil" src="https://storage.googleapis.com/a1aa/image/nT0wmyeVgZ3INConhIzsttFdaYSHsCEGmUJylohJAgTL0I2JA.jpg" />
                <a href="/fixtolmobil">Mobil</a>
            </div>
            <div class="fixtool-item">
                <a href="/fixtolMesin">Mesin Elektronik</a>
            </div>
        </div>
    </main>
    
     
      </main>
    <div class="footer">
            <div class="column">
                <h3>MechX</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Customer Support</a></li>
                    <li><a href="#">Discus EB</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Newsletters</a></li>
                </ul>
            </div>
            <div class="column">
                <h3>Resource</h3>
                <ul>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Participate</a></li>
                    <li><a href="#">Pro WholeSale</a></li>
                    <li><a href="#">Retail Locator</a></li>
                </ul>
            </div>
            <div class="column">
                <h3>Legal</h3>
                <ul>
                    <li><a href="#">Accessibility</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>
            </div>
            <div class="social-icons">
                <span>Hubungi Kami:</span>
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/jyn.amr" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@patricia_gurll" target="_blank"><i class="fab fa-tiktok"></i></a>
                <a href="https://www.x.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/@GadgetIn" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>      
    <body>
    <head>
