<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MechX</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <a href="/index">
            <img src="/image/logonavbar.png" alt="Logo Navbar" style="cursor: pointer;">
        </a>        
        <div class="nav">
            <a href="/fixtol">Fix Tool</a>
            <a href="/comunity">Community</a>
            <a href="/store">Store</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Find what you want..."/>
            <i class="fas fa-search"></i>
        </div>
        <div class="icons">
            <a href="/keranjang"><i class="fas fa-shopping-cart"></i></a>
            <a href="/register">Log-out  |</a>
            <a href="/login">Log-In</a>
        </div>
    </div>
    </header>

    <aside class="sidebarmotor">
        <a href="#">Perawatan Motor</a>
        <a href="#">Kategori</a>
        <a href="#">Panduan</a>
    </aside>

    <main class="contentmotor">
        <section class="section">
            <h2>Perawatan Motor</h2>
            <p>Panduan langkah demi langkah untuk perawatan dan pemecahan masalah motor dari berbagai merek dan model. Penulis: Zaki Maulana (bersama tim kontributor ahli).</p>
            <img src="https://storage.googleapis.com/a1aa/image/C9UIGLwJX2qNJJyGOhGVh9hc14Xvuyfu6Lk1F7QbGbZM0I2JA.jpg" alt="Ilustrasi perawatan motor" height="100">
        </section>

        <section class="section">
            <h2>Kategori</h2>
            <div class="category">
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/V7sx5UYfwpQROq05txdWgwJSZgXHo8qIze4e2eOPzL3FxQ3OB.jpg" alt="Logo Yamaha" width="100" height="100">
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/fxWdfBoluRgEk0fAp4lpthfqxuAqFBeeuyCwD6veL4S1CG62JA.jpg" alt="Logo Honda" width="100" height="100">
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/2VhVWkNhXTa6JxUkJVSRVmdp6oIT9aY4vOu6TBtQRr1eF62JA.jpg" alt="Logo BMW" width="100" height="100">
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/PhnG8ZnMV6KvHVzYUVQaettotBuSWgAyTfMocufmVJoFYobnA.jpg" alt="Logo Suzuki" width="100" height="100">
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/eJPhspebD7hCfolZe8BKdiuhnU1beeiW9m5CZ1VoEUSrFDd7E.jpg" alt="Logo Kawasaki" width="100" height="100">
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/47vg9BRQNjIROpPskZ9NgtfBMsuBhaMcObuXx1jJL868F62JA.jpg" alt="Logo Aprilia" width="100" height="100">
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/vo1XjxRX0k6fMy5lIfUllZPhDAuiehvh1Wb2GwV27OPgYobnA.jpg" alt="Logo Derbi" width="100" height="100">
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/JAQ9eYPnVrXBUaefRyTPMWbbjDT1YEQKpTHLFR1HMxFWYobnA.jpg" alt="Logo Triumph" width="100" height="100">
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/cxkNWhVp5bIaNdfDvS6SDhZeaH7KYfM8JRFaOgXXvbboYobnA.jpg" alt="Logo KTM" width="100" height="100">
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/RbkTAN8KH9aULBXOZG2UvLf0AORyybMgc3rJIKTUIWKeL0tTA.jpg" alt="Logo Harley Davidson" width="100" height="100">
                </div>
            </div>
        </section>

        <section class="section">
            <h2>Panduan</h2>
            <h3>Teknik</h3>
            <div class="guides">
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/QCTpV1Nr3cbMJlx6lh8Nrejnpr0eflU7EzBvjASJ1f93wQ3OB.jpg" alt="Mengganti baterai motor" width="100" height="100">
                    <p>Cara mengganti baterai motor tanpa merusak komponen listrik?</p>
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/NSk872dvydqjChyuVeNSAaiUTDCgTTVz5ajQLX6F7ALCG62JA.jpg" alt="Mengatur ketegangan rantai motor" width="100" height="100">
                    <p>Cara mengatur ketegangan rantai motor agar performa optimal?</p>
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/8AXrPPjlLIb8NlfHxoGGe2dHOAfOFAcFNbyCiw9gaQqDYobnA.jpg" alt="Mengganti oli dan filter motor" width="100" height="100">
                    <p>Cara mengganti oli dan filter motor di rumah?</p>
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/E2HFa7iUgOKmGRESPcUncaTivY45TRI6XOnmj8dUzT4fF62JA.jpg" alt="Mengatasi masalah motor yang tidak bisa hidup" width="100" height="100">
                    <p>Cara mengatasi masalah motor yang sulit dihidupkan?</p>
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/IqFBpVFQJH4AIVUhd8qKJzhTu3sXZ9KeONiYJrKYHxXEG62JA.jpg" alt="Mengganti ban motor" width="100" height="100">
                    <p>Cara mengganti ban motor dan memastikan alignment yang tepat?</p>
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/8AXrPPjlLIb8NlfHxoGGe2dHOAfOFAcFNbyCiw9gaQqDYobnA.jpg" alt="Mengganti oli dan filter motor" width="100" height="100">
                    <p>Cara mengganti oli dan filter motor di rumah?</p>
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/sdhxfG8LLO2rVSLx8XbUhNZCmcKXWUbnnbEPaKvgRffdYobnA.jpg" alt="Mengatasi motor yang mati saat berakselerasi" width="100" height="100">
                    <p>Cara memperbaiki motor yang mati saat berakselerasi?</p>
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/ehaFfLZx8qmROEBcLkEgY1b4oowZOPUZWql6pgAy3e7UYobnA.jpg" alt="Mereset lampu mesin motor" width="100" height="100">
                    <p>Cara mereset lampu mesin pada motor?</p>
                </div>
                <div class="item">
                    <img src="https://storage.googleapis.com/a1aa/image/zfvohkkX9IwIY61034aegH1lsW2XN6TNe6jZk9mssSRmYobnA.jpg" alt="Membuang angin pada rem motor" width="100" height="100">
                    <p>Cara membuang angin pada rem motor agar pengereman lebih baik?</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="column">
            <h3>MechX</h3>
            <ul>
                <li><a href="#">Tentang Kami</a></li>
                <li><a href="#">Layanan Pelanggan</a></li>
                <li><a href="#">Diskusi EB</a></li>
                <li><a href="#">Karir</a></li>
                <li><a href="#">Buletin</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Sumber Daya</h3>
            <ul>
                <li><a href="#">Pers</a></li>
                <li><a href="#">Berita</a></li>
                <li><a href="#">Partisipasi</a></li>
                <li><a href="#">Pro Grosir</a></li>
                <li><a href="#">Pencari Toko</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Legal</h3>
            <ul>
                <li><a href="#">Aksesibilitas</a></li>
                <li><a href="#">Privasi</a></li>
                <li><a href="#">Ketentuan</a></li>
            </ul>
        </div>
        <div class="social-icons">
            <span>Hubungi Kami:</span>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/jyn.amr" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@patricia_gurll" target="_blank"><i class="fab fa-tiktok"></i></a>
            <a href="https://www.x.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/@GadgetIn" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>        
    </footer>
</body>
</html>
